<div class="display-fields">
    <div class="header">
        <ng-image class="header-image" editing="localCardRefs[card.$id].editing" image="card.image" backup="'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_80x80_v1.png'"></ng-image>
        <div class="header-text">
            <ng-title title="card.title" editing="localCardRefs[card.$id].editing"></ng-title>
            <ng-subtitle subtitle="card.subtitle" editing="localCardRefs[card.$id].editing"></ng-subtitle>
        </div>
    </div>
    <ng-structured-text data="card.bio" open-card="open(cardToOpen)" editing="localCardRefs[card.$id].editing" class="bio"></ng-structured-text>
</div>
<div class="editing-fields" ng-show="localCardRefs[card.$id].editing">
    <form name="editCardForm">
        <div layout layout-sm="column">
            <md-input-container>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
                    Populate from:
                    <md-button class="md-fab md-primary" ng-click="populateFromWikipedia(card, true)" style="background:#6B6B6B"><i class="fa fa-wikipedia-w"></i>
                        <md-tooltip>
                            Wikipedia
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary" style="background:#3C7BBE"><i class="fa fa-book"></i>
                        <md-tooltip>
                            Dictionary.com
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary" style="background:#EF4B78"><i class="fa fa-foursquare"></i>
                        <md-tooltip>
                            Foursquare
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-primary" style="background:#0FA460"><i class="fa fa-map"></i>
                        <md-tooltip>
                            Google Maps
                        </md-tooltip>
                    </md-button>
                </section>
            </md-input-container>
            <md-input-container flex> </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-chips ng-model="localCardRefs[card.$id].keywords" placeholder="Enter a new keyword" delete-button-label="Remove Keyword" delete-hint="Press delete to remove keyword" secondary-placeholder="+Keyword" md-on-append="appendKeyword($chip, card)">
                <md-chip-template> {{$chip.keyword}} </md-chip-template>
                <button md-chip-remove class="md-chip-remove ng-scope" ng-click="deleteKeyword($chip.$id)">
                    <md-icon md-svg-icon="md-close" class="ng-isolate-scope md-default-theme" aria-hidden="true"></md-icon>
                </button>
            </md-chips>
        </div>
        <div layout layout-sm="column">
            <md-input-container>
                <md-button class="md-raised md-primary" ng-click="updateCard(card.$id, card)">Update</md-button>
            </md-input-container>
            <md-input-container flex> </md-input-container>
            <md-input-container>
                <md-button class="md-raised md-warn" ng-click="deleteCard(card.$id, card)">Delete</md-button>
            </md-input-container>
        </div>
    </form>
</div>