<!doctype html>
<html data-ng-app="app">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/explaain.css">

    <title>Explaain - Backend</title>
</head>

<body layout="column" ng-controller="ExplaainCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Explaain - Backend</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="new card">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Create a new card</h1>
                            <md-content layout-padding="">
                                <form name="newCardForm" ng-init="card.subtitle='';card.image.value='';card.bio.value='';">
                                    <div layout layout-sm="column">
                                        <md-input-container flex="50">
                                            <label>Title</label>
                                            <input ng-model="card.title">
                                        </md-input-container>
                                        <md-input-container>
                                            <md-button class="md-raised md-primary" ng-click="card = populateFromWikipedia(card, true);">Populate from Wikipedia</md-button>
                                        </md-input-container>
                                        <md-input-container flex> </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Subtitle</label>
                                            <input ng-model="card.subtitle">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Image URL</label>
                                            <input ng-model="card.image.value">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Bio</label>
                                            <textarea ng-model="card.bio.value" columns="1" md-maxlength="400"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-button class="md-raised md-primary" ng-click="addNewCard(card, false, false)">Create Card</md-button>
                                    </div>
                                </form>
                            </md-content>
                        </md-content>
                    </md-tab>
                    <md-tab label="new keyword">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Create a new keyword</h1>
                            <md-content layout-padding="">
                                <form name="newKeywordForm">
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>Keyword</label>
                                            <input ng-model="newkeyword.keyword">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <md-select placeholder="Card" ng-model="newkeyword.ref">
                                                <md-option ng-repeat="card in cards" value="{{card.$id}}">{{card.title}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-button class="md-raised md-primary" ng-click="addNewKeyword(newkeyword, true)">Create Keyword</md-button>
                                    </div>
                                </form>
                            </md-content>
                        </md-content>
                    </md-tab>
                    <md-tab label="update">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Update all cards</h1>
                            <form novalidate>
                                <p>
                                    <md-button class="md-raised md-primary" ng-click="updateEverything()">Update now</md-button>
                                </p>
                            </form>
                        </md-content>
                    </md-tab>
                    <md-tab label="delete keywords">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Delete keywords</h1>
                            <md-content layout-padding="">
                                <md-chips ng-model="keywords">
                                    <md-chip-template>
                                        <strong>{{$chip.keyword}}</strong>
                                        <em>{{cards.$getRecord($chip.ref).title}}</em>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <!-- Custom -->
    <script src="../js/explaain.js"></script>
</body>

</html>